<!DOCTYPE html>
<html>
  <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ZegTel</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/agency.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>


  </head>
  <body id="initial-page" class="index">
  <section id="loginsection">

    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Login</h2>
          <h3 id="haich3" class="section-subheading text-muted closer">For Authorized Users only</h3>
      </div>
    </div>

    <div class="row center" id="formrow">
      <form class="contact" id="loginform" action="/login" method="post" class="form-control"  name="login"  enctype="text/plain">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" name="email"  class="form-control" placeholder="Your Username *" required data-validation-required-message="Please enter your username.">
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Your Password *" required data-validation-required-message="Please enter your password.">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="success1"></div>
        <button type="submit" name="button" class="btn btn-xl">Login</button>
      </div>
    </form>

  </div>

</section>



<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Login Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/login.js"></script>
  </body>
</html>
